/.env
/node_modules
src/v1/engine/polyperformance/assets/
src/v1/engine/quadratec/assets/
src/v1/engine/quadratec/assets.backup/
/public
src/v1/engine/polyperformance/assets (copy 1)/
src/v1/engine/polyperformance/assets.backup/
